//
//  jansson.xcconfig
//  deadbeef
//
//  Created by Alexey Yakovenko on 8/23/20.
//  Copyright © 2020 Alexey Yakovenko. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

JANSSON_CFLAGS = -I/usr/local/Cellar/jansson/2.13.1/include

JANSSON_LDFLAGS = -L/usr/local/Cellar/jansson/2.13.1/lib -ljansson
