*.o
*.a
*.bak
*~
*.tar.gz
*.swp
.exec
aclocal.m4
configure
Makefile
Makefile.in
config.h
config.h.in
config.status
config.sub
depcomp
stamp-h*
*.gladep
*.zip
*.log
*.guess
autom4te.cache
tags
deadbeef
todo.txt
test
shots
.deps
install-sh
missing
images
deadbeef.desktop
