*.o
*.bak
*~
*.tar.gz
*.swp
.exec
aclocal.m4
configure
plugins/*/Makefile
intl/Makefile
icons/Makefile
pixmaps/Makefile
Makefile.in
config.h
config.h.in
config.status
config.sub
config.rpath
depcomp
stamp-h*
*.zip
*.log
*.guess
autom4te.cache
tags
todo.txt
test
shots
.deps
install-sh
missing
images
libtool
ltmain.sh
m4
.libs
*.la
*.lo
deadbeef.desktop
.vimrc
ddbcellrenderertextmultiline.vapi
ddbequalizer.vapi
ddbseekbar.vapi
vala.stamp
*.tar.bz2
*.tar.gz
*.gmo
stamp-it
*.so
tools/pluginfo/pluginfo
cscope.out
tools/apbuild/apsymbols.h
po/Makefile
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/deadbeef.pot
compile
deadbeef
valgrind.out
*.diff
portable
package_out
package_temp
messages.mo
.install
.config
plugins/libmp4ff/libmp4ff.a
plugins/libparser/libparser.a

