[submodule "osx/deps"]
	path = osx/deps
	url = https://github.com/DeaDBeeF-Player/deadbeef-osx-deps.git
[submodule "external/mp4p"]
	path = external/mp4p
	url = https://github.com/DeaDBeeF-Player/mp4p.git
[submodule "external/apbuild"]
	path = external/apbuild
	url = https://github.com/DeaDBeeF-Player/apbuild.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/DeaDBeeF-Player/googletest.git
[submodule "external/ddb_output_pw"]
	path = external/ddb_output_pw
	url = https://github.com/DeaDBeeF-Player/ddb_output_pw.git
[submodule "external/ddb_dsp_libretro"]
	path = external/ddb_dsp_libretro
	url = https://github.com/DeaDBeeF-Player/ddb_dsp_libretro.git
