##################
## Visual Studio 6
##################

# Build results
[Dd]ebug/
[Rr]elease/
*.exe
*.dll

# Object files
*.ilk
*.obj
*.pch
*.pdb
*.sbr
*.tmp

# Project cache files
*.aps
*.ncb
*.opt

Thumbs.db
ehthumbs.db
Desktop.ini

# Unix
*.o
libvgmplay.a
vgm2pcm
